//——————————————————— START BASE COLORS ———————————————————//
$dark-color: #232323;
$light-color: #fafafa;
//——————————————————— FINISH BASE COLORS ———————————————————//

//——————————————————— START UI COLORS ———————————————————//
$ui-active: #d9d9d9;
$ui-disabled: #d2d2d2;
$ui-error: #db0c35;
$ui-ceramic: #c69978;
//——————————————————— FINISH UI COLORS ———————————————————//
