@use "/src/sass/base/variables.scss" as *;

.header {
  display: flex;
  justify-content: space-between;
  &__logo {
    width: 100px;
    height: 100px;
  }
  &__icons {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    a > span {
      display: block;
      font-size: 18px;
      width: 20px;
      height: 20px;
      color: $dark-color;
    }
  }
  .burger {
    display: flex;
    flex-direction: column;
    padding: 0 35px 0 0;
    gap: 10px;
    height: 23px;
    span {
      &:is(.burger__line, .burger__line-small) {
        display: block;
        width: 20px;
        height: 1px;
        background-color: $dark-color;
        &.burger__line-small {
          width: 15px;
        }
      }
    }
  }
}
