@use "/src/sass/base/variables.scss" as *;

.header {
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    width: 100px;
    height: 100px;
  }
  &__icons {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    a > span {
      display: block;
      font-size: 18px;
      width: 20px;
      height: 20px;
      color: $dark-color;
    }
  }
  .burger {
    display: flex;
    flex-direction: column;
    padding: 0 35px 0 0;
    gap: 10px;
    height: 23px;
    span {
      &:is(.burger__line, .burger__line-small) {
        display: block;
        width: 20px;
        height: 1px;
        background-color: $dark-color;
        &.burger__line-small {
          width: 15px;
        }
      }
    }
  }
  &__nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__nav {
      display: block;
      margin-top: 20px;
      &_wrapper {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding-left: 0;
        &-item {
          list-style-type: none;
          button {
            background-color: transparent;
            border: none;
            a {
              color: $dark-color;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              text-decoration: none;
              text-transform: uppercase;
            }
          }
        }
      }
    }
    .burger {
      visibility: hidden;
    }
  }
}

@media screen and (min-width: 1920px) {
  .header {
    &_logo {
      width: 150px;
      height: 150px;
    }
    &__nav {
      margin-top: 36px;
      &_wrapper {
        gap: 60px;
      }
    }
  }
}
