@use '/src/sass/base/variables.scss' as *;

.works {
  margin-top: 60px;
  &__wrapper {
    position: relative;
  }
  &__slider {
    margin-top: 40px;
    &-nav {
      display: none;
      position: absolute;
      padding: 0;
      font-size: 21px;
      top: 50%;
      background-color: transparent;
      border: none;
      transform: translateY(-50%);
      &::before {
        width: auto;
        margin: 0;
      }
    }
  }
  .icon-left-open {
    left: 13px;
  }
  .icon-right-open {
    right: 13px;
  }
  .swiper {
    &-slide img {
      width: 100%;
    }
    :is(&-button-prev, &-button-next) {
      display: none;
      background-color: transparent;
      border: none;
    }
    &-pagination {
      bottom: -35px;
      &-bullet {
        opacity: 1;
        width: 10px;
        height: 10px;
        border-radius: 0px;
        -webkit-tap-highlight-color: transparent;
        background-color: $dark-color;
        &-active {
          background-color: $ui-ceramic;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .works {
    .swiper {
      img {
        width: 400px;
        margin: 0 auto;
        object-fit: cover;
      }
    }
    &__slider {
      margin-top: 45px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .works {
    &__slider {
      margin: 80px 40px 0 40px;
      &-nav {
        display: inline;
      }
    }
    .swiper {
      &-pagination {
        bottom: -30px;
      }
      &-slide img {
        margin: 0;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .works {
    padding-top: 100px;
    &__slider {
      margin: 80px 85px 0 85px;
    }
    .icon {
      &-left-open {
        left: 40px;
      }
      &-right-open {
        right: 40px;
      }
    }
  }
}
