@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.btn {
  &__primary {
    @include btn;
    width: 230px;
    height: 50px;
    font-size: 20px;
  }
  &__send {
    @include btn;
    width: 220px;
    height: 40px;
    font-size: 16px;
    &:focus {
      border: 1px solid $ui-ceramic;
      outline: 1px solid $ui-ceramic;
    }
    &:disabled {
      color: $ui-disabled;
      border: 1px solid $ui-disabled;
    }
  }
}

@media screen and (min-width: 1200px) {
  .btn {
    &__primary {
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: $dark-color;
        color: $light-color;
      }
      &:active {
        background-color: rgba(217, 217, 217, 0.1);
        color: $dark-color;
        border: none;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4) inset;
      }
    }
    &__send {
      &:active {
        border: 1px solid $ui-ceramic;
        outline: 1px solid $ui-ceramic;
      }
      &:hover {
        color: $ui-ceramic;
        border: 1px solid $ui-ceramic;
      }
    }
  }
}
@media screen and (min-width: 1920px) {
  .btn {
    &__primary {
      width: 330px;
      height: 60px;
    }
  }
}
